@use 'sass:math';
@use 'sass:map';
@use 'sass:meta';

$breakpoints: (
  small: 30em,
  medium: 45em,
  large: 65em,
  xl: 80em
);

@mixin mq($size) {
  @if map.has-key($breakpoints, $size) {
    $breakpoint: map-get($breakpoints, $size);
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  }
  @else if meta.type-of($size) == number {
    @if math.is-unitless($size) {
      @error 'when using a number with @mq() make sure to include a unit';
    } @else {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  }
  @else {
    @error 'the keyword #{$size} is not in the $breakpoints map. ' +
           'You must either use a keyword from the map or a specific number (e.g. 40em)';
  }
}

body {
  // all of these should work
  @include mq(medium) { background: pink; }
  @include mq(500px) { background: lightblue; }
  @include mq(100em) { background: #efefef; }

  // these should fail, with an error telling me why
  //@include mq(reallysmall) { background: yellow; }
  @include mq(5000) { background: purple; }
}
